html {
    background-color:rgb(128, 123, 125);
    background-size:cover;
    background-blend-mode:lighten;

        
    }

    #video {
        object-fit:cover;
        width:100vw;
        height:100vh;
        position:fixed;
        top:0;
        left:0;
        z-index:-1;
        
    }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    
    
    
     
}
li {
    float: left;
   
    
}
li a {
    display: block;
    color:white; 
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family:'Aldrich';
    font-size: 25px;
}

a:link {
    color:white;
}
a:visited {
    color:white;
}
a:hover {
    color: rgb(187, 202, 200) ;
    opacity:80%;
}
    




   
    

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 50%;
    }
    cite {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        width: 50%;
        
    }
    

    h2 {
        color:rgb(255, 255, 255);
        text-align: center;
        font-family:'Silkscreen';
        font-size:70px;
      
    }

    .footer {
        color:rgb(255, 255, 255);
        font-family: 'Aldrich';
        font-size: 30px;
        text-align:center;
        
        
       
    } 

    .header {
        color:rgb(255, 255, 255);
        font-family:'Silkscreen';
        font-size:70px;
        text-align:center;
        

    }

    #text {
        position:absolute;
        bottom:0;
        left:0;
        margin-right:auto;
        margin-left: auto;
    }
   

    
    
    
    



